.ProjectContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.ProjectImage {
  flex-basis: 50%;
  padding: 10px;
}

.ProjectImage img {
  max-width: 100%;
  transition: transform 0.3s ease-out;
}

.ProjectText {
  flex-basis: 50%;
  padding: 10px;
  background-color: white;
  transition: transform 0.3s ease-out;
  transform: translateX(-100%);
}

.ProjectText h2 {
  font-size: 24px;
  margin: 10px 0;
}

.ProjectText p {
  margin: 5px 0;
  font-size: 16px;
  color: grey;
}

.ProjectText p:first-child {
  margin-top: 15px;
}

.ProjectContainer:hover .ProjectImage img {
  transform: scale(1.2);
}

.ProjectContainer:hover .ProjectText {
  transform: translateX(0);
}
